<!DOCTYPE html>
<html lang="en" ng-app="political-quiz">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Political Quiz</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://use.fontawesome.com/c9514588db.js"></script>
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-route/angular-route.min.js"></script>
  <script src="/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>
</head>

<body>


  <div class="container">
    <div class="row">
      <!-- QUESTIONS CARDS -->
      <div class="col-xs-10 col-xs-offset-1 card top-margin">
        <div class="row title">
          <h2>QUESTION 1/10</h2>
        </div>
        <div class="row top-margin">
          <p>
            Kale chips venmo narwhal green juice?
          </p>
        </div>
        <div class="row">
          <img src="http://placehold.it/1200x1200" alt="question image"/>
        </div>
      </div>

      <!-- Learn More -->
      <div class="col-xs-10 col-xs-offset-1 learn-more">
        <a href="http://www.google.com" class="btn btn-block btn-lg btn-primary top-margin" target="_blank">Learn More</a>
      </div>

      <!-- Like/Dislike -->
      <div class="col-xs-10 col-xs-offset-1 like-dislike top-margin">
        <button class="btn btn-vote btn-lg btn-danger"><i class="fa fa-close" aria-hidden="true"></i></button>
        <button class="btn btn-vote btn-lg btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
      </div>

    </div>
  </div>

</body>

</html>
