<!DOCTYPE html>
<html lang="en" ng-app="political-quiz">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Political Quiz</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://use.fontawesome.com/c9514588db.js"></script>
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-route/angular-route.min.js"></script>
  <script src="/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>
</head>

<body>

  <!-- QUESTIONS CARDS -->
  <div class="container">
    <div class="row">

    </div>
  </div>

</body>

</html>
